.Orientation {
  display: none;
  clear: left;
  padding-top: 20px; }
  .Orientation h1 {
    color: white; }
  .Orientation .show {
    border: 2px solid white;
    border-radius: 5px;
    height: 55px; }
