.menu
{
  color: white;
  padding: 30px;
  border: 3px solid white;
  border-radius: 10px;
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 1;
  background-color: #454444;
}

.nav
{
  color: white;
  text-decoration:  none;
  font-size: 80px;
}
