#profile
{
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 90px;
}

.profile
{
  color: white;
  height: 75vh;
  background-color: #454444;
  opacity: .85;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 20px;
  font-size: 30px;
  h1
  {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 750px)
{
  #profile
  {
    font-size: 40px;
  }
}
