#portfolio
{
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.imgs
{
  padding-right: 5%;
  padding-left: 10%;
  overflow-y:scroll;
  height: 400px;
}

@media (min-width:1000px)
{
  #portfolio
  {
    font-size: 30px
  }
  .imgs
  {
    padding-left: 4%;
  }
}

@media (min-width:1400px)
{
  #portfolio
  {
    font-size: 60px
  }
  .imgs
  {
    padding-left: 6%;
  }
}

@media (min-width:2000px)
{
  #portfolio
  {
    font-size: 100px;
    margin-bottom: 30px;
  }
  .imgs
  {
    padding-left: 5%;
  }
}
