#portfolio {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 30px; }

.imgs {
  padding-right: 5%;
  padding-left: 10%;
  overflow-y: scroll;
  height: 500px; }
  .imgs .more {
    color: white;
    position: absolute;
    bottom: 120px;
    right: 50px;
    padding: 5px;
    cursor: pointer; }
  .imgs .less {
    color: white;
    position: absolute;
    bottom: 120px;
    right: 100px;
    padding: 5px;
    cursor: pointer; }
  .imgs .more:hover {
    border: 2px solid white;
    border-radius: 10px; }
  .imgs .less:hover {
    border: 2px solid white;
    border-radius: 10px; }

@media (min-width: 1000px) {
  #portfolio {
    font-size: 30px; }
  .imgs {
    padding-left: 4%; } }

@media (min-width: 1400px) {
  #portfolio {
    font-size: 60px; }
  .imgs {
    padding-left: 6%; } }

@media (min-width: 2000px) {
  #portfolio {
    font-size: 100px;
    margin-bottom: 30px; }
  .imgs {
    padding-left: 5%; } }
