.orientation_s {
  display: none;
  clear: left;
  padding-top: 5px; }
  .orientation_s h1 {
    color: white; }
  .orientation_s .show {
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold; }
