#about {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 30px; }

.about {
  height: 68vh;
  padding: 10px;
  background-color: #454444;
  opacity: .85;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  color: white; }
  .about .info {
    border: 2px solid white;
    padding: 5px; }
    .about .info h1 {
      margin: 5px; }
  .about a img {
    margin: 10px;
    width: 50px; }
  .about a img:hover {
    opacity: .6; }

@media (min-width: 750px) {
  .about {
    height: 62vh;
    margin-right: 20px;
    margin-left: 20px; } }

@media (min-width: 1000px) {
  .about {
    height: 64vh;
    margin-right: 20px;
    margin-left: 20px; } }

@media (min-width: 1000px) and (min-height: 590px) {
  .about {
    height: 65vh; } }

@media (min-width: 1400px) {
  #about {
    font-size: 60px; }
  .about {
    margin-right: 20px;
    margin-left: 20px; } }

@media (min-width: 2000px) {
  #about {
    font-size: 95px; }
  .about {
    height: 71vh;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px; } }
