.single_h
{
  display: none;
  clear: left;
  h1
  {
    margin-top: 5px;
    color: white
  }
  .sample
  {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-left: 20px;
  }
  .select1
  {
    width: 140px;
    height: 110px;
  }
  .select2
  {
    width: 120px;
    height: 120px;
  }
  .select3
  {
    width: 200px;
    height: 160px;
  }
  .select4
  {
    width: 240px;
    height: 160px;
  }
  .select5
  {
    width: 300px;
    height: 200px;
  }
  .select6
  {
    width: 360px;
    height: 240px;
  }
}
