.single_h {
  display: none;
  clear: left; }
  .single_h h1 {
    margin-top: 5px;
    color: white; }
  .single_h .sample {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-left: 20px; }
  .single_h .select1 {
    width: 140px;
    height: 110px; }
  .single_h .select2 {
    width: 120px;
    height: 120px; }
  .single_h .select3 {
    width: 200px;
    height: 160px; }
  .single_h .select4 {
    width: 240px;
    height: 160px; }
  .single_h .select5 {
    width: 300px;
    height: 200px; }
  .single_h .select6 {
    width: 360px;
    height: 240px; }
