#contact
{
  padding: 25px;
}

.contact
{
  /*margin: 10px;*/
  height: 75vh;
  background-color: #454444;
  opacity: .85;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
