
#type
{
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.type
{
  height: 66vh;
  background-color: #454444;
  opacity: .85;
  margin-top: 10px;
  // margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
  overflow-y:scroll;
  height: 400px;
  .item
  {
    // margin-right: 25px;
    font-size: 14px;
    color: white;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    float: left;
    // border: none;
  }
  .item:hover
  {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
  }
  .show
  {
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
  }
  #reset
  {
    float: right;
  }
  #reset:hover
  {
    font-weight: bold;
  }
}

@media (min-width:750px)
{
  .type
  {
    height: 62vh;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
  }
}


@media (min-width:1100px)
{
  .type
  {
    height: 66vh;
  }
  @media (min-height: 600px)
  {
    .type
    {
      height: 69vh;
    }
  }
}


@media (min-width:1400px)
{
  #type
  {
    font-size: 60px
  }
  .type
  {
    height:74vh;
    margin-right: 20px;
    margin-left: 20px;
    .item
    {
      font-size: 30px;
    }
  }
}

@media (min-width:2000px)
{
  #type
  {
    font-size: 95px
  }
  .type
  {
    height: 71vh;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
