.footer {
  margin: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white; }
  .footer h1 {
    font-size: 35px; }
  .footer h2 {
    font-size: 30px; }
  .footer a {
    color: white;
    text-decoration: none; }

@media (min-width: 750px) {
  .footer h1 {
    font-size: 30px; }
  .footer h2 {
    font-size: 25px; } }
