.login {
  padding: 15px 0 0 15px; }

#login {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  font-size: 40px; }
  #login a {
    text-decoration: none;
    color: white; }

@media (min-width: 750px) {
  #login {
    padding: 4px;
    font-size: 20px;
    width: 60px; } }
