.single_v {
  display: none;
  clear: left; }
  .single_v h1 {
    margin-top: 5px;
    color: white; }
  .single_v .total {
    border: 2px solid white;
    border-radius: 10px;
    padding: 12px;
    float: right; }
    .single_v .total #last {
      text-decoration: underline; }
    .single_v .total a {
      text-decoration: none;
      color: white; }
    .single_v .total #add:hover {
      text-decoration: underline;
      font-weight: bolder;
      cursor: pointer; }
  .single_v .sample {
    border: 3px solid white;
    float: left;
    clear: left;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer; }
  .single_v .sample:hover {
    opacity: 0.6; }
  .single_v .select1 {
    width: 77px;
    height: 98px; }
  .single_v .select2 {
    width: 84px;
    height: 84px; }
  .single_v .select3 {
    width: 64px;
    height: 80px; }
  .single_v .select4 {
    width: 64px;
    height: 96px; }
  .single_v .select5 {
    width: 80px;
    height: 120px; }
  .single_v .select6 {
    width: 96px;
    height: 144px; }

@media (min-width: 1000px) {
  .single_v .sample {
    float: none;
    margin-top: -100px;
    margin-left: 60px; }
  .single_v .select1 {
    height: 238px;
    width: 187px; }
  .single_v .select2 {
    height: 204px;
    width: 204px; }
  .single_v .select3 {
    height: 340px;
    width: 272px; }
  .single_v .select4 {
    height: 408px;
    width: 272px; }
  .single_v .select5 {
    height: 510px;
    width: 340px; }
  .single_v .select6 {
    height: 612px;
    width: 408px; } }
