.single_v
{
  display: none;
  clear: left;
  h1
  {
    margin-top: 5px;
    color: white
  }
  .sample
  {
    border: 3px solid white;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
  }
  .sample:hover
  {
    opacity: 0.6;
  }
  .select1
  {
    width: 77px;
    height: 98px;
  }
  .select2
  {
    width: 84px;
    height: 84px;
  }
  .select3
  {
    width: 64px;
    height: 80px;
  }
  .select4
  {
    width: 64px;
    height: 96px;
  }
  .select5
  {
    width: 80px;
    height: 120px;
  }
  .select6
  {
    width: 96px;
    height: 144px;
  }
}

@media (min-width:1000px)
{
  .single_v
  {
    .sample
    {
      float: none;
      margin-top: -100px;
      margin-left: 60px;
    }
    .select1
    {
      height: 238px;
      width: 187px;
    }
    .select2
    {
      height: 204px;
      width: 204px;
    }
    .select3
    {
      height: 340px;
      width: 272px;
    }
    .select4
    {
      height: 408px;
      width: 272px;
    }
    .select5
    {
      height: 510px;
      width: 340px;
    }
    .select6
    {
      height: 612px;
      width: 408px;
    }
  }
}
